<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iMenu Application</title>
  
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>RSSEO | About Us</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/content/css/animate.css" rel="stylesheet" />
    <link href="~/content/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/content/css/stellarnav.css" rel="stylesheet" />
    <link href="~/content/css/slick.css" rel="stylesheet" />
    <link href="~/content/css/slick-theme.css" rel="stylesheet" />
    <link href="~/content/style.css" rel="stylesheet" />
    <link href="~/content/css/responsive.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/content/images/fav.png">
    <link href="~/Content/fonts/flaticon.css" rel="stylesheet" />
</head>
<body>
    
    
        @RenderBody()
       

    <script src="~/content/js/modernizr-2.8.3.min.js"></script>
    <script src="~/content/js/jquery.min.js"></script>
    <script src="~/content/js/jquery.nav.js"></script>
    <script src="~/content/js/owl.carousel.min.js"></script>
    @*<script src="~/content/js/imagesloaded.pkgd.min.js"></script>*@
    <script src="~/content/js/wow.min.js"></script>
    <script src="~/content/js/waypoints.min.js"></script>
    <script src="~/content/js/skill.bars.jquery.js"></script>
    <script src="~/content/js/jquery.counterup.min.js"></script>
    <script src="~/content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/content/js/plugins.js"></script>
    <script src="~/content/js/contact.form.js"></script>
    <script src="~/content/js/quote.form.js"></script>
    <script src="~/content/js/stellarnav.js"></script>
    <script src="~/content/js/slick.js"></script>
    <script src="~/content/js/main.js"></script>




  
</body>
</html>
