<body class="home2">

    <!--Preload Start-->
    @{
        Html.RenderPartial("Include_Views/PreLoader");
    }

    <!--Preload End-->
    <!--Header Start-->
    @{
        Html.RenderPartial("Include_Views/Header");
    }

    <!--Header End-->
    <!-- Slider Section Start Here -->

    <div class="slider-main slider-home">
        <div class="benefits_image">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 p_t_175_l_80">
                    <h1 class="white-color" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">Sample Text Sample Text </h1>
                    <p class="white-color" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">Sample Text Sample Text Sample Text Sample Text Sample Text</p>
                    <ul class="white-color">
                        @*<li><p>Category Title 1</p></li>
                        <li><p>Category Title 2</p></li>
                        <li><p>Category Title 3</p></li>*@
                        <li><p class="mb-10"><span class="fa fa-check pr-15"></span>Sample Text Sample Text Sample Text Sample Text Sample Text</p></li>
                        <li><p class="mb-10"><span class="fa fa-check pr-15"></span>Sample Text Sample Text Sample Text Sample Text Sample Text</p></li>
                        <li><p class="mb-10"><span class="fa fa-check pr-15"></span>Sample Text Sample Text Sample Text Sample Text Sample Text</p></li>
                    </ul>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 slider_btn_benefits"><a href="#" class="readon mt-30" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Button</a></div>
                    </div>
                    

                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 p_t_175_l_80 video_div_center">

                    @*<iframe class="border_none" width="85%" height="250px" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>*@
                    <iframe width="85%" height="250px" src="https://www.youtube.com/embed/-5mJVLNL5fs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row mt-60">
                <div class="col-xs-12 col-sm-12 col-md-4"></div>
                <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                    <a href="#" class="readon yellow" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp" style="width:70%;">Start Free Trial</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4"></div>
            </div>
        </div>
    </div>


   

    <!-- Slider Section end Here -->





    <div class="pt-70"></div>

    <!-- Partner Start -->
    <div id="rs-partner-custom" class="rs-partner sec-spacer pt-20 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-2 mb-15 text-center">
                    <a href="#"><img src="~/Images/badge.png" alt="Partner Image"></a>
                </div>

                @*<div class="col-sm-12 col-xs-12 col-md-8 white-bg mb-15 p-0" style="background-image:url(../../Content/images/black/b4.jpg) !important; height:300px;">*@
                <div class="col-sm-12 col-xs-12 col-md-8 white-bg mb-15 p-0 benefits_customer" style="">

                    <div class="col-xs-12 col-sm-12 col-md-6 p_t_30_l_20">
                        <h3 class="white-color" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">Sample Text Sample Text </h3>
                        @*<p class="white-color" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">Sample Text Sample Text Sample Text Sample Text Sample Text</p>*@
                        <ul class="white-color" style="list-style:disc; padding-left:30px">
                            <li>Sample Text Sample Text Sample Text </li>
                            <li>Sample Text Sample Text Sample Text </li>
                            <li>Sample Text Sample Text Sample Text </li>
                            <li>Sample Text Sample Text Sample Text </li>
                            <li>Sample Text Sample Text Sample Text </li>
                            <li>Sample Text Sample Text Sample Text </li>
                        </ul>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 p_t_30_l_20">
                        <h3 class="white-color" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">Sample Text Sample Text </h3>
                        @*<p class="white-color" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">Sample Text Sample Text Sample Text Sample Text Sample Text</p>*@
                        <ul class="white-color" style="list-style:disc; padding-left:30px">
                            <li>Sample Text Sample Text Sample Text </li>
                            <li>Sample Text Sample Text Sample Text </li>
                            <li>Sample Text Sample Text Sample Text </li>
                            <li>Sample Text Sample Text Sample Text </li>
                            <li>Sample Text Sample Text Sample Text </li>
                            <li>Sample Text Sample Text Sample Text </li>
                        </ul>

                    </div>


                </div>

                <div class="col-sm-12 col-xs-12 col-md-2">
                    <p class="floating_div_style">Floating Autoresponder for a prize draw for a free subscription of iMenu for a year. (Aweber Integeration)</p>
                </div>
            </div>

            <div class="row pt-70" id="contact_us">
                <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                    <a href="#" class="readone white-color" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Features and Pricing</a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                </div>
            </div>


        </div>
    </div>
    <!-- Partner End -->

<!-- Contact Form Start -->
    <div id="rs-contactform" class="rs-contactform sec-spacer mb-60" style="background: #f0f0f0;">
        <div class="container">
            <div class="sec-title">
                <h2 class="black-color">Get In Touch</h2>
                @*<h4 class="subtitle">Write your name and say a few words</h4>*@
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12"><div id="form-messages"></div></div>
                <form id="contact-form" method="post" action="http://codesless.com/products/seo/mailer.php">
                    <div class="col-sm-6 col-md-4">
                        <input type="text" id="name" name="name" placeholder="Full Name" required>
                        <input type="text" id="email" name="email" placeholder="Email" required="">
                    </div>



                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <textarea class="vertical_resize" id="message" name="message" placeholder="Your Message" style="height:184px"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <input class="submit contact_submit_btn" type="submit" value="submit" />
                    </div>

                </form>
            </div>



        </div>

        @*<div id="contact_us" class="">
                <div class="container">
                    <div class="row mt-20">
                        <div class="col-xs-12 col-sm-12 col-md-4 text-center"></div>
                        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                            <a href="~/Home/Index" class="readtwo white-color readtwo_benefits" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Home</a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 text-center"></div>
                    </div>
                </div>
            </div>*@

    </div>
    <!-- Contact Form End -->


    <!-- Partner Logo's Start -->
    <div id="rs-partner" class="rs-partner sec-spacer mb-60">
        <div class="container">
            <div class="partner-carousel owl-carousel">
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/1.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/2.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/3.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/4.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/5.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/6.png" alt="Partner Image"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo's Start -->


    <!-- REVIEWS Start -->
    <div id="rs-blog" class="rs-blog pt-45 pb-40 mb-60">
        <div class="container">
            <div class="sec-title">
                <h2>Reviews</h2>
                <h4 class="pt-20">Read What's the People Are Saying About Us</h4>
            </div>
            <div class="blog-carousel owl-carousel owl-navigation-yes">
                <div class="blog-item">

                    <div class="blog-author">
                        <div class="author-img">
                            <img src="~/images/blog/author/1.jpg" alt="Author Image">
                        </div>
                        <div class="author-info">
                            <h3 class="author-name">Sample Text</h3>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <p>Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text .</p>
                    </div>

                </div>

                <div class="blog-item">

                    <div class="blog-author">
                        <div class="author-img">
                            <img src="~/images/blog/author/1.jpg" alt="Author Image">
                        </div>
                        <div class="author-info">
                            <h3 class="author-name">Sample Text</h3>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <p>Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text .</p>
                    </div>
                </div>

                <div class="blog-item">

                    <div class="blog-author">
                        <div class="author-img">
                            <img src="~/images/blog/author/3.jpg" alt="Author Image">
                        </div>
                        <div class="author-info">
                            <h3 class="author-name">Sample Text</h3>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <p>Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text .</p>
                    </div>

                </div>

                <div class="blog-item">

                    <div class="blog-author">
                        <div class="author-img">
                            <img src="~/images/blog/author/2.jpg" alt="Author Image">
                        </div>
                        <div class="author-info">
                            <h3 class="author-name">Sample Text</h3>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <p>Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text .</p>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- REVIEWS Start -->



    



    <!-- Footer Start -->
    @{
        Html.RenderPartial("Include_Views/Footer_Landing_View");
    }

    <!-- Footer End -->
    <!-- start scrollUp  -->

    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>

    <!-- modernizr js -->

</body>