<body class="home2">

    <!--Preload Start-->
    @{
        Html.RenderPartial("Include_Views/PreLoader");
    }

    <!--Preload End-->
    <!--Header Start-->
    @{
        Html.RenderPartial("Include_Views/Header");
    }

    <!--Header End-->
    <!-- Slider Section Start Here -->

    <div class="slider-main slider-home mb-60">
        <div class="overlay blue_orange_background_gradient">
            <div class="row pt-130 pb-40">
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
                <div class="col-xs-10 col-sm-8 col-md-6">
                    <div style="width:100%">
                        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/-5mJVLNL5fs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    @*<iframe width="100%" height="250px" src="https://www.youtube.com/embed/-5mJVLNL5fs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@

                </div>
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
                
            </div>

           
        </div>
    </div>




    <!-- Slider Section end Here -->


    <!-- How it Works -->

    <div class="gray-bg mb-60 pt-20 pb-45 background_image_shiny_blue">
        <div class="container">
            <div class="sec-title">
                <h2 class="white-color">How it Works</h2>
                @*<h4 class="pt-20">Read What's the People Are Saying About Us</h4>*@
            </div>
            <div class="row">
            <div class="col-md-9">

                <div class="col-md-3 block">
                    <div class="how_works_box">
                        <p class="circle_para_padding">Sample Text Text Sample Text Text Sample Text Text Sample Text Text </p>
                    </div>
                    <img src="~/Images/static_images/arrow_right.png" alt="" class="box-arrow" data-rjs="2">
                    <img src="~/Images/static_images/bottom.png" alt="" class="box-arrow-mobile" data-rjs="2">
                </div>
                <div class="col-md-3 block">
                    <div class="how_works_box">
                        <p class="circle_para_padding">Sample Text Text Sample Text Text Sample Text Text Sample Text Text </p>
                    </div>
                    <img src="~/Images/static_images/arrow_right.png" alt="" class="box-arrow" data-rjs="2">
                    <img src="~/Images/static_images/bottom.png" alt="" class="box-arrow-mobile" data-rjs="2">
                </div>
                <div class="col-md-3 block">
                    <div class="how_works_box">
                        <p class="circle_para_padding">Sample Text Text Sample Text Text Sample Text Text Sample Text Text </p>
                    </div>
                    <img src="~/Images/static_images/arrow_right.png" alt="" class="box-arrow" data-rjs="2">
                    <img src="~/Images/static_images/bottom.png" alt="" class="box-arrow-mobile" data-rjs="2">
                </div>
                <div class="col-md-3 block">
                    <div class="how_works_box">
                        <p class="circle_para_padding">Sample Text Text Sample Text Text Sample Text Text Sample Text Text </p>
                    </div>
                </div>

            </div>
            <div class="col-md-3 margin_top_20_media" style="padding-top:19px;">
                <p class="floating_div_style orange_border_and_styling_box">Floating Autoresponder for a prize draw for a free subscription of iMenu for a year. (Aweber Integeration)</p>
            </div>
        </div>

            <div class="row mt-50">
                <div class="col-xs-12 col-sm-2 col-md-2 text-center"></div>
                <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                    <a href="#" class="how_it_work_btn white-color btn_font_issue" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Features &amp; Pricing</a>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 text-center"></div>
                <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                    <a href="#" class="how_it_work_btn white-color btn_font_issue" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Try our Demo Site</a>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 text-center"></div>
            </div>
            <div class="row mt-30">
                <div class="col-xs-12 col-sm-3 col-md-4 text-center"></div>
                <div class="col-xs-12 col-sm-3 col-md-4 text-center">
                    <img src="~/Images/static_images/badge.png"/>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-4 text-center"></div>
            </div>

            <div class="row mt-45">
                <div class="col-xs-12 col-sm-3 col-md-4 text-center"></div>
                <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                    <a href="#" class="readon_orange_btn work_trial_btn" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Start Free Trial</a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-4 text-center"></div>
            </div>

        </div>
    </div>


    <!-- How it Works -->

    <!-- Partner Logo's Start -->
    <div id="rs-partner" class="rs-partner sec-spacer mb-60">
        <div class="container">
            <div class="partner-carousel owl-carousel">
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/1.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/2.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/3.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/4.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/5.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/6.png" alt="Partner Image"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo's Start -->
   
     <!-- REVIEWS Start -->
    <div id="rs-blog" class="rs-blog pt-45 pb-40 mb-60">
        <div class="container">
            <div class="sec-title">
                <h2>Reviews</h2>
                <h4 class="pt-20">Read What's the People Are Saying About Us</h4>
            </div>
            <div class="blog-carousel owl-carousel owl-navigation-yes">
                <div class="blog-item">

                    <div class="blog-author">
                        <div class="author-img">
                            <img src="~/images/blog/author/1.jpg" alt="Author Image">
                        </div>
                        <div class="author-info">
                            <h3 class="author-name">Sample Text</h3>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <p>Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text .</p>
                    </div>

                </div>

                <div class="blog-item">

                    <div class="blog-author">
                        <div class="author-img">
                            <img src="~/images/blog/author/1.jpg" alt="Author Image">
                        </div>
                        <div class="author-info">
                            <h3 class="author-name">Sample Text</h3>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <p>Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text .</p>
                    </div>
                </div>

                <div class="blog-item">

                    <div class="blog-author">
                        <div class="author-img">
                            <img src="~/images/blog/author/3.jpg" alt="Author Image">
                        </div>
                        <div class="author-info">
                            <h3 class="author-name">Sample Text</h3>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <p>Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text .</p>
                    </div>

                </div>

                <div class="blog-item">

                    <div class="blog-author">
                        <div class="author-img">
                            <img src="~/images/blog/author/2.jpg" alt="Author Image">
                        </div>
                        <div class="author-info">
                            <h3 class="author-name">Sample Text</h3>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <p>Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text .</p>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- REVIEWS Start -->
    <!-- Footer Start -->
    @{
        Html.RenderPartial("Include_Views/Footer_Landing_View");
    }

    <!-- Footer End -->
    <!-- start scrollUp  -->

    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>

    <!-- modernizr js -->

</body>