<body class="home2">
    <!--Preload Start-->
    @{
        Html.RenderPartial("Include_Views/PreLoader");
    }

    <!--Preload End-->
    <!--Header Start-->
    @{
        Html.RenderPartial("Include_Views/Header");
    }


    <!--Header End-->
    <!-- Slider Section Start Here -->
    @{
        Html.RenderPartial("Include_Views/Slider");
    }
    <!-- Slider Section end Here -->

    <!-- MODULE SECTION -->

    @{
        Html.RenderPartial("Include_Views/Module_Section");
    }

    <!-- MODULE SECTION -->


    <!-- TABBED SECTION -->

    @{
        Html.RenderPartial("Include_Views/Tabbed_Section");
    }
    

    <!-- TABBED SECTION -->
    
    <!-- Contact Us -->
    
    @{
        Html.RenderPartial("Include_Views/Contact_Buttons_Landing_View");
    }

    <!-- Contact Us -->





  
 
 
    <!-- BIGGER BUSINESS SECTION -->
    
    @{
        Html.RenderPartial("Include_Views/Bigger_Business");
    }

    <!-- BIGGER BUSINESS SECTION -->
 
  
    <!-- Customer Review Section -->
    
    @{
        Html.RenderPartial("Include_Views/Customer_Review");
    }

    <!-- Customer Review Section -->


 
    <!-- Footer Start -->
    
    @{
        Html.RenderPartial("Include_Views/Footer_Landing_View");
    }

    <!-- Footer End -->

    <!-- start scrollUp  -->

    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- modernizr js -->
   
</body>