<body>
    <!--Header Start-->
    <header id="rs-header">
        <!-- Toolbar Start -->
        <div class="toolbar-area">
            <div class="container">
                <div class="col-md-offset-1 col-md-10">
                    <div class="col-lg-6 col-sm-7 col-xs-12">
                        <div class="toolbar-contact">
                            <ul>
                                <li><i class="fa fa-phone"></i><a href="#">(832) 872-2736</a></li>
                                <li class="hidden-sm"><i class="fa fa-envelope-o"></i><a href="#">support@rstheme.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-5 col-xs-12">
                        <div class="toolbar-sl-share">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Toolbar End -->
        <!-- Header Menu Start -->
        
        <!-- Header Menu End -->
    </header>
    <!--Header End-->
    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs sec-spacer mt-5">
        <div class="overlay">
            <div class="container">
                <div class="col-md-offset-1 col-md-10">
                    <div class="col-sm-3">
                        <div class="logo-area">
                            <a class="main--logo" href="~/Home/Index"><img src="~/content/imenu.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-offset-1 col-md-10">


                <div class="col-md-8">
                    <h3 class="heading_class">Takeaway Online Ordering System</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="heading_class">-0% Commission</h4>
                            <h4 class="heading_class">No Minimum Contract</h4>
                            <h4 class="heading_class">Costomised Website</h4>
                        </div>
                        <div class="col-sm-6">
                            <img src="~/content/badge.png" />
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <img src="~/content/tab.png" style="float:right"/>
                </div>


                <div class="pt--30">

                    <a href="#" class="readon yellow mr-25" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Start yor Free Trial</a>
                </div>

            </div>
 
            
           
        </div>
    </div>
    <!-- Breadcrumbs End -->
    <div id="rs-performance" class="rs-performance sec-spacer">
       
        <div class="container">
            <div class="col-md-offset-1 col-md-10">

            @*<div class="row">*@

                <!-- Items-list Start -->

                <div class="col-lg-3 col-md-3 col-sm-3 wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms">
                    <div class="items">
                        <div class="outer-line">
                            <div class="glyph-icon flaticon-globe"></div>
                        </div>

                        <p>Customer places their order on your website</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms">
                    <div class="items">
                        <div class="glyph-icon flaticon-settings-1"></div>

                        <p>Customer pays online or upon collection/delivery</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms">
                    <div class="items">
                        <div class="glyph-icon flaticon-graphic-1"></div>

                        <p>Order is recieved, printed and prepared</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms">
                    <div class="items">
                        <div class="glyph-icon flaticon-link"></div>

                        <p>Order is delivered or collected in store</p>
                    </div>
                </div>


                <!-- Items-list End -->
                
            </div>
        </div>
        <div class="container mt-30" >
            <div class="col-md-4">

            </div>
            <div class="col-md-4" align="center">
                <a href="#" class="readon yellow mr-25" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Learn more</a>
            </div>
            <div class="col-md-4 mb-30">

            </div>

        </div>
    </div>
   
    




    
</body>

