<body>
    <!--Header Start-->
    <header id="rs-header">
        <!-- Toolbar Start -->
        <div class="toolbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="logo-area">
                            <a class="sticky-logo" href="index-2.html"><img src="~/content/images/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="toolbar-contact">
                            <ul>
                                <li><i class="fa fa-phone"></i><a href="tel:832-872-2736">Questions? Call Us (832) 872-2736</a></li>
                                <li class="hidden-sm"><i class="fa fa-envelope-o"></i><a href="mailto:support@rstheme.com">support@rstheme.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="toolbar-sl-share">
                            <ul>

                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Toolbar End -->


    </header>
    <!--Header End-->
    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs sec-spacer mt-5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                  <h4>Takeaway online Ordering System</h4>
                  <ul>
                      <li>0% Commission</li>
                      <li>No Minimum Contect</li>
                      <li>Customized Website</li>
                  </ul>
              </div>
                <div class="col-md-4">
                    <div class="logo-area">
                        <a class="sticky-logo" href="index-2.html"><img src="~/Content/badge.PNG" alt="logo"></a>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="logo-area">
                        <a class="sticky-logo" href="index-2.html"><img src="~/Content/tab.png" alt="logo"></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    <div class="container mt-30">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" align="center">
                <div class="logo-area">
                    <a class="sticky-logo" href="index-2.html"><img src="~/content/images/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row mt-5">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" align="center">
                <div class="logo-area">
                    <button class="btn btn-success">Start your Free Trial</button>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="container">
        <div class="sec-title">
            <h2>Key Features</h2>

        </div>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4" align="center">
                <h2>Features Category 1</h2>
            </div>
            <div class="col-sm-4" align="center">
                <h2>Features Category 1</h2>
            </div>
            <div class="col-sm-4" align="center">
                <h2>Features Category 1</h2>
            </div>
        </div>
    </div>




   
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4 col-md-4"></div>
            <div class="col-sm-4 col-md-4" align="center">
                <div class="logo-area">
                    <a class="sticky-logo" href="index-2.html"><img src="~/content/images/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4"></div>
        </div>

        <div class="row mt-5">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" align="center">
                <div class="logo-area">
                    <button class="btn btn-success">Start your Free Trial</button>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
   
    <!-- Welcome RSSEO Solution  Start-->
    <div id="welcome-rsseo" class="welcome-rsseo sec-spacer">
        <div class="container">
            <div class="sec-title">
                <h2>Our Service Strategy</h2>
                <h4 class="subtitle">Do you want to improve the online visibility of your brand and traffic to your website?</h4>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="items">
                        <div class="glyph-icon flaticon-technology"></div>
                        <a href="service-details.html"><h3>WEB ANALYTICS</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. eleifend imperdiet</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="items">
                        <div class="glyph-icon flaticon-target"></div>
                        <a href="service-details.html"><h3>KEYWORD TARGETING</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. eleifend imperdiet</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="items">
                        <div class="glyph-icon flaticon-tool"></div>
                        <a href="service-details.html"><h3>TECHNICAL SERVICE</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. eleifend imperdiet</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="items">
                        <div class="glyph-icon flaticon-headphones"></div>
                        <a href="service-details.html"><h3>SUPPORT CENTER</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. eleifend imperdiet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Welcome RSSEO Solution  End-->






    
</body>

