<style>
    .affix {
        position: fixed;
        top: 102px;
        z-index: 9999 !important;
        /*width: 170px;*/
    }

    .myflotdiv {
        width: 180px;
    }
</style>

<body class="home2">

    <!--Preload Start-->
    @{
        Html.RenderPartial("Include_Views/PreLoader");
    }

    <!--Preload End-->
    <!--Header Start-->
    @{
        Html.RenderPartial("Include_Views/Header"); 
    }

    <!--Header End-->
    <!-- Slider Section Start Here -->

    <div class="slider-main slider-home mb-60">
        <div class="overlay blue_orange_background_gradient">
            <div class="row pt-130">
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
                <div id="paypal_img_div" class="col-xs-10 col-sm-8 col-md-6 text-center">
                    <h1 class="white-color pt-45" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">Sample Text Sample Text </h1>
                    <p class="white-color" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">Sample Text Sample Text Sample Text Sample Text Sample Text</p>
                </div>
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
            </div>

            <div class="row pt-70 pb-70">
                <div class="col-xs-12 col-sm-12 col-md-4"></div>
                <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                    @*<a href="#" class="readon yellow" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Start Free Trial</a>*@
                    <a href="#" class="readon_orange_btn" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Start Free Trial</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4"></div>
            </div>
        </div>
    </div>




    <!-- Slider Section end Here -->





    <div id="list_features_div" class="mb-60">
        <div class="container">

            <div class="row">
                <div class="col-md-2">
                    <div id="myHeader" class="hidden-xs hidden-sm col-md-2 margin_top_20_media nav nav-pills nav-stacked myflotdiv" data-spy="affix" data-offset-top="605" data-offset-bottom="717">
                        <p class="floating_div_style">Sample Text Sample Text Sample Text Sample Text Sample Text </p>
                    </div>
                </div>
                @*<div class="hidden-xs hidden-sm col-md-2 margin_top_20_media">
                    <p class="floating_div_style">Sample Text Sample Text Sample Text Sample Text Sample Text </p>
                </div>*@
                @*<div class="clearfix"></div>*@
                <div class="col-md-8" style="border: 2px solid #35638a;padding:0">
                    <!-- Component bComparisonTable -->
                    <div id="comparison" class="transparent-table gray-bg">
                        <div class="avg-comparison-table-inner">

                            <div id="homepage-tabbed">
                                <!--<ul class="tabbed nav nav-tabs border_bottom_blue" role="tablist">
                                    <li class="col-xs-12 col-md-2 complete-systems active">
                                        <a role="tab" href="#one" data-toggle="tab" class="tab-systems" aria-expanded="false">One</a>
                                    </li>
                                    <li class="col-xs-12 col-md-2 ipad-and-android ">
                                        <a role="tab" href="#two" data-toggle="tab" class="tab-ipad" aria-expanded="true">Two</a>
                                    </li>
                                    <li class="col-xs-12 col-md-2 software">
                                        <a role="tab" href="#three" data-toggle="tab" class="tab-software" aria-expanded="false">Three</a>
                                    </li>
                                    <li class="col-xs-12 col-md-2 software">
                                        <a role="tab" href="#four" data-toggle="tab" class="tab-software" aria-expanded="false">Four</a>
                                    </li>
                                    <li class="col-xs-12 col-md-2 software">
                                        <a role="tab" href="#five" data-toggle="tab" class="tab-software" aria-expanded="false">Five</a>
                                    </li>
                                    <li class="col-xs-12 col-md-2 software">
                                        <a role="tab" href="#six" data-toggle="tab" class="tab-software" aria-expanded="false">Six</a>
                                    </li>
                                </ul>-->

                                <ul class="nav nav-wizard border_bottom_blue">
                                    <li class="active"><a role="tab" href="#one" data-toggle="tab" class="tab-systems a_transition_none" aria-expanded="false">One</a></li>
                                    <li><a role="tab" href="#two" data-toggle="tab" class="tab-ipad a_transition_none" aria-expanded="true">Two</a></li>
                                    <li><a role="tab" href="#three" data-toggle="tab" class="tab-software a_transition_none" aria-expanded="false">Three</a></li>
                                    <li><a role="tab" href="#four" data-toggle="tab" class="tab-software a_transition_none" aria-expanded="false">Four</a></li>
                                    <li><a role="tab" href="#five" data-toggle="tab" class="tab-software a_transition_none" aria-expanded="false">Five</a></li>
                                    <li><a role="tab" href="#six" data-toggle="tab" class="tab-software a_transition_none" aria-expanded="false">Six</a></li>
                                    <li><a role="tab" href="#seven" data-toggle="tab" class="tab-software a_transition_none" aria-expanded="false">Seven</a></li>
                                    <li><a role="tab" href="#eight" data-toggle="tab" class="tab-software a_transition_none" aria-expanded="false">Eight</a></li>
                                    @*<li><a role="tab" href="#nine" data-toggle="tab" class="tab-software" aria-expanded="false">Nine</a></li>
                                    <li><a role="tab" href="#ten" data-toggle="tab" class="tab-software" aria-expanded="false">Ten</a></li>*@
                                </ul>


                                <div class="tab-content clearfix col-sm-12 pb-0">

                                    <div id="one" class="tab-pane clearfix active">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <h3>Heading Sample Text One</h3>
                                            </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <img class="img-responsive main-img till-img pb-20" alt="EPOS System" src="~/Images/Tab_Images/complete_system.png">
                                                    <div class="col-md-12">
                                                        <img class="img-responsive award-logo" src="~/Images/Tab_Images/AwardsHomepageNew@2x.png">
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-sm-6">
                                                    <div class="clearfix row">
                                                    </div>

                                                    <div class="p-wrapper">
                                                        <p class="text-justify">
                                                            Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        </p>
                                                    </div>

                                                </div>

                                                <div class="clearfix"></div>

                                                <div class="p-wrapper pt-25">
                                                    <p class="text-justify p_tabbed_padding">
                                                        Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    </p>
                                                </div>

                                            </div>
                                    </div>


                                    <div id="two" class="tab-pane clearfix">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <h3>Heading Sample Text Two</h3>
                                            </div>
                                           

                                            <div class="col-xs-12 col-sm-6">
                                                <div class="clearfix row">
                                                </div>

                                                <div class="p-wrapper">
                                                    <p class="text-justify">
                                                        Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    </p>
                                                </div>

                                            </div>

                                            <div class="col-xs-12 col-sm-6">
                                                <img class="img-responsive main-img till-img pb-20" alt="EPOS System" src="~/Images/Tab_Images/complete_system.png">
                                                <div class="col-md-12">
                                                    <img class="img-responsive award-logo" src="~/Images/Tab_Images/AwardsHomepageNew@2x.png">
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="p-wrapper pt-25">
                                                <p class="text-justify p_tabbed_padding">
                                                    Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                </p>
                                            </div>

                                        </div>
                                    </div>


                                    <div id="three" class="tab-pane clearfix">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <h3>Heading Sample Text Three</h3>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <img class="img-responsive main-img till-img pb-20" alt="EPOS System" src="~/Images/Tab_Images/complete_system.png">
                                                <div class="col-md-12">
                                                    <img class="img-responsive award-logo" src="~/Images/Tab_Images/AwardsHomepageNew@2x.png">
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6">
                                                <div class="clearfix row">
                                                </div>

                                                <div class="p-wrapper">
                                                    <p class="text-justify">
                                                        Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    </p>
                                                </div>

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="p-wrapper pt-25">
                                                <p class="text-justify p_tabbed_padding">
                                                    Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    


                                    <div id="four" class="tab-pane clearfix">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <h3>Heading Sample Text Four</h3>
                                            </div>
                                           

                                            <div class="col-xs-12 col-sm-6">
                                                <div class="clearfix row">
                                                </div>

                                                <div class="p-wrapper">
                                                    <p class="text-justify">
                                                        Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    </p>
                                                </div>

                                            </div>


                                            <div class="col-xs-12 col-sm-6">
                                                <img class="img-responsive main-img till-img pb-20" alt="EPOS System" src="~/Images/Tab_Images/complete_system.png">
                                                <div class="col-md-12">
                                                    <img class="img-responsive award-logo" src="~/Images/Tab_Images/AwardsHomepageNew@2x.png">
                                                </div>
                                            </div>


                                            <div class="clearfix"></div>

                                            <div class="p-wrapper pt-25">
                                                <p class="text-justify p_tabbed_padding">
                                                    Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                </p>
                                            </div>

                                        </div>
                                    </div>



                                    <div id="five" class="tab-pane clearfix">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <h3>Heading Sample Text Five</h3>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <img class="img-responsive main-img till-img pb-20" alt="EPOS System" src="~/Images/Tab_Images/complete_system.png">
                                                <div class="col-md-12">
                                                    <img class="img-responsive award-logo" src="~/Images/Tab_Images/AwardsHomepageNew@2x.png">
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6">
                                                <div class="clearfix row">
                                                </div>

                                                <div class="p-wrapper">
                                                    <p class="text-justify">
                                                        Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    </p>
                                                </div>

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="p-wrapper pt-25">
                                                <p class="text-justify p_tabbed_padding">
                                                    Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                </p>
                                            </div>

                                        </div>
                                    </div>



                                    <div id="six" class="tab-pane clearfix">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <h3>Heading Sample Text Six</h3>
                                            </div>
                                           

                                            <div class="col-xs-12 col-sm-6">
                                                <div class="clearfix row">
                                                </div>

                                                <div class="p-wrapper">
                                                    <p class="text-justify">
                                                        Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    </p>
                                                </div>

                                            </div>


                                            <div class="col-xs-12 col-sm-6">
                                                <img class="img-responsive main-img till-img pb-20" alt="EPOS System" src="~/Images/Tab_Images/complete_system.png">
                                                <div class="col-md-12">
                                                    <img class="img-responsive award-logo" src="~/Images/Tab_Images/AwardsHomepageNew@2x.png">
                                                </div>
                                            </div>



                                            <div class="clearfix"></div>

                                            <div class="p-wrapper pt-25">
                                                <p class="text-justify p_tabbed_padding">
                                                    Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div id="seven" class="tab-pane clearfix">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <h3>Heading Sample Text Seven</h3>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <img class="img-responsive main-img till-img pb-20" alt="EPOS System" src="~/Images/Tab_Images/complete_system.png">
                                                <div class="col-md-12">
                                                    <img class="img-responsive award-logo" src="~/Images/Tab_Images/AwardsHomepageNew@2x.png">
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6">
                                                <div class="clearfix row">
                                                </div>

                                                <div class="p-wrapper">
                                                    <p class="text-justify">
                                                        Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    </p>
                                                </div>

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="p-wrapper pt-25">
                                                <p class="text-justify p_tabbed_padding">
                                                    Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                </p>
                                            </div>

                                        </div>
                                    </div>



                                    <div id="eight" class="tab-pane clearfix">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <h3>Heading Sample Text Eight</h3>
                                            </div>


                                            <div class="col-xs-12 col-sm-6">
                                                <div class="clearfix row">
                                                </div>

                                                <div class="p-wrapper">
                                                    <p class="text-justify">
                                                        Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    </p>
                                                </div>

                                            </div>


                                            <div class="col-xs-12 col-sm-6">
                                                <img class="img-responsive main-img till-img pb-20" alt="EPOS System" src="~/Images/Tab_Images/complete_system.png">
                                                <div class="col-md-12">
                                                    <img class="img-responsive award-logo" src="~/Images/Tab_Images/AwardsHomepageNew@2x.png">
                                                </div>
                                            </div>



                                            <div class="clearfix"></div>

                                            <div class="p-wrapper pt-25">
                                                <p class="text-justify p_tabbed_padding">
                                                    Sample text Sample text Sample text texts Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                    Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                                                </p>
                                            </div>

                                        </div>
                                    </div>







                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Component bComparisonTable -->
                </div>
                @*<div class="col-sm-12 col-xs-12 col-md-2 margin_top_20_media">*@
                <div class="col-md-2">
                    <div id="myHeader" class="hidden-xs hidden-sm col-md-2 margin_top_20_media nav nav-pills nav-stacked myflotdiv" data-spy="affix" data-offset-top="605" data-offset-bottom="717">
                        <p class="floating_div_style">Sample Text Sample Text Sample Text Sample Text Sample Text </p>
                    </div>
                </div>

            </div>


            <div class="row mt-70">
                <div class="col-xs-12 col-sm-3 col-md-4 text-center"></div>
                <div class="col-xs-12 col-sm-3 col-md-1 text-center">
                    <img src="~/Images/static_images/badge.png" style="max-width:200% !important"/>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 text-center pt-25">
                    <a href="#" class="readon_orange_btn" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Start Free Trial</a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-4 text-center"></div>
            </div>


        </div>
    </div>


   
  
    <!-- Footer Start -->
    @{
        Html.RenderPartial("Include_Views/Footer_Landing_View");
    }

    <!-- Footer End -->
    <!-- start scrollUp  -->

    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>

    <!-- modernizr js -->

</body>