<div id="rs-cta" class="rs-cta primary-bg">
    <div class="container">
        <div class="sec-title">
            <h2 class="white-color">Bigger Business Section</h2>
            <h3 class="subtitle white-color">Are you a bigger business?</h3>
            <p class="white-color text-center">Sample text Sample text Sample text Sample text Sample text Sample text Sample text<br /> Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.</p>
            <p class="white-color text-center">Sample text Sample text Sample text Sample text Sample text</p>
        </div>
    </div>
</div>