<div id="contact_us" class="rs-cta primary-bg mb-60">
    <div class="container pb-20">
        <div class="sec-title">
            <h2 class="white-color">Contact Us</h2>
        </div>
    </div>
    <div class="container pt-20 pb-60">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                <a href="#" class="readone white-color" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Book your Demo</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                <a href="#" class="readtwo white-color" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Request a Demo</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                <a href="#" class="readthree white-color">Arrange a Call</a>
            </div>
        </div>
    </div>
</div>