<div id="rs-testimonial" class="rs-team">
    <div class="container">
        <div class="sec-title">
            <h2>Customer Review Section</h2>
        </div>
        <div class="rs-tst-slider slider">
            <div>
                <img src="~/images/testimonial/1.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="~/images/testimonial/1.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="~/images/testimonial/11.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="~/images/testimonial/3.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="~/images/testimonial/11.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="~/images/testimonial/11.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="~/images/testimonial/11.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="~/images/testimonial/11.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="~/images/testimonial/8.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="~/images/testimonial/1.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="~/images/testimonial/1.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="~/images/testimonial/1.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="~/images/testimonial/1.jpg" alt="">
                <div class="rs-tst-content">
                    <div class="rs-tst-title">
                        RONNIE BENDAL
                    </div>
                    <div class="rs-tst-designation">
                        SUPERVISOR
                    </div>
                    <div class="rs-tst-details">
                        <p>
                            Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>