<footer id="rs-footer" class="rs-footer rss-foooter">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="about-widget">
                        <a href="~/Home/Index"><img src="~/images/logo2.png" alt="Footer Logo"></a>
                        <p>Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text </p>
                        @*<p class="margin-remove">We create Unique and Easy To Use Flexible Html Themes.</p>*@
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <h3 class="footer-title">OFFER</h3>
                    <ul class="sitemap-widget">
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>OFFER1</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>OFFER2</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>OFFER3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>OFFER4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>OFFER5</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>OFFER6</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h3 class="footer-title foooter-title">RESOURCES</h3>
                    <ul class="sitemap-widget">
                        <li class="active"><a href="#"><i class="fa fa-" aria-hidden="true"></i>RESOURCES</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>RESOURCES</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>RESOURCES</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>RESOURCES</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>RESOURCES</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>RESOURCES</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright">
                        <p>&copy; 2018 <a href="https://www.ranglerz.com/" target="_blank">Ranglerz Digital Marketing</a>. All Rights Reserved.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>