<div id="rs-performance" class="rs-performance sec-spacer">
    <div class="container">
        <div class="sec-title">
            <h2>MODULE SECTION</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <!-- Items-list Start -->
            <div class="col-md-1"></div>
            <div class="col-lg-2 col-md-3 col-sm-3 wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms" style="visibility: visible; animation-duration: 0.3s; animation-delay: 300ms; animation-name: fadeInUp;">
                <div class="items">
                    <div class="outer-line">
                        <div class="glyph-icon flaticon-globe"></div>
                    </div>
                    <h3>Module Heading 1</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms" style="visibility: visible; animation-duration: 0.3s; animation-delay: 300ms; animation-name: fadeInUp;">
                <div class="items">
                    <div class="glyph-icon flaticon-settings-1"></div>
                    <h3>Module Heading 2</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms" style="visibility: visible; animation-duration: 0.3s; animation-delay: 300ms; animation-name: fadeInUp;">
                <div class="items">
                    <div class="glyph-icon flaticon-graphic-1"></div>
                    <h3>Module Heading 3</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms" style="visibility: visible; animation-duration: 0.3s; animation-delay: 300ms; animation-name: fadeInUp;">
                <div class="items">
                    <div class="glyph-icon flaticon-link"></div>
                    <h3>Module Heading 4</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms" style="visibility: visible; animation-duration: 0.3s; animation-delay: 300ms; animation-name: fadeInUp;">
                <div class="items">
                    <div class="glyph-icon flaticon-link"></div>
                    <h3>Module Heading 4</h3>
                </div>
            </div>
            <div class="col-md-1"></div>

            <!-- Items-list End -->

        </div>
    </div>
</div>