<div class="slider-main slider-home">
    <div id="main-slider" class="owl-carousel">
        <div class="item">
            <img src="~/images/slider/slide_1.jpg" alt="slider image">
            <div class="inner-slider">
                <div class="dsc">
                    <h1 data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">EPOS Restaurant software</h1>
                    <p data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">Complete EPOS systems from as little as £12.25 per month fully integrated <br /> with the iMenuWebOnline ordering website</p>
                    <div class="btn-slider">
                        <a href="#" class="readon yellow mr-25" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">GET STARTED</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/slider/slide_2.jpg" alt="slider image">
            <div class="inner-slider">
                <div class="dsc">
                    <h1 data-animation-in="slideInDown" data-animation-out="animate-out fadeOutUp">Online Takeaway Website</h1>
                    <p data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">Take full control of your online sales with your very own website<br /> with 0% commission and no setup costs!</p>
                    <div class="btn-slider">
                        <a href="#" class="readon yellow mr-25" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">GET STARTED</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>